* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
header {
  text-align: center;
  color:#3a181c;
  padding-top: 4%;
  font-style: oblique;
  font-size: xx-large;
  text-wrap: balance;
  display: block;
}
.caption {
  text-align: center;
  font-size: large;
}
body {
  height: 100vh;
  background: #723234;
}
img {
  position: absolute;
  left: -6%;
  z-index: -5;
}
@media (max-width: 680px) {
  img {
    position: absolute;
    padding-right: 10em;
    width: 34em;
    position:center;
  }
}
.container {
  width: 85vw;
  max-width: 34em;
  position: absolute;
  transform: translate(-50%, -50%);
  background: transparent;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 10px;
  padding: 3em;
  border-radius: 1.5em;
  box-shadow: 0 1.2em 2.8em rgba(0, 41, 22, 0.2);
  flex-direction: column;
  flex-wrap: wrap;
}
cite {
  color: #2b1215;
}
p {
  width: 50%;
  font-size: 0.9em;
  font-family: sans-serif;
  align-self: center;
}

button#genbtn {
  cursor: pointer;
  color: #000000;
  border-radius: 5em;
  border: none;
  padding: 0.8em 0;
  background-color: #d39c9e;
  margin: 2.7em 0 1.1em 0;
  font-size: 1.1em;
  width: 100%;
  display: -moz-popup;
  min-height: fit-content;
  flex-shrink: 2;
  align-self: baseline;
}
button:active {
  background-color: #050505;
  box-shadow: 5px 0px 50px #666;
  transform: translateY(4px);
}

#result {
  font-size: 1.5em;
  font-size: 300;
  color: #2b1215;
  background-color: rgba(240, 248, 255, 0.39);
  align-self: center;
}
